[Unit]
Description=Simple Tasmota Alerter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
TimeoutStartSec=1
Restart=on-failure
RestartSec=5s
EnvironmentFile=/opt/tasmota-alerter/systemd/tasmota-alerter.env
WorkingDirectory=/opt/tasmota-alerter
ExecStart=/opt/tasmota-alerter/tasmota-alerter
SyslogIdentifier=tasmota-alerter

[Install]
WantedBy=multi-user.target

